.sidebar-inner {
    display: flex;
    justify-content: center;
    flex-flow: column; 
    gap: 10px;
    padding: 10px;
}

.ddd {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 2vh 4vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
  }

  .ddd:hover {
    background-color: red; 
    cursor: pointer;

  }